.App {
  text-align: center;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px;
  cursor: pointer;
}

.home {
  height: 600px;
  background-color: aquamarine;
}

.services {
  height: 600px;
  background-color: azure;
}

.blog {
  height: 600px;
  background-color: aqua;
}

.contact {
  height: 600px;
  background-color: antiquewhite;
}