.App {
  text-align: center;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px;
  cursor: pointer;
}

.home {
  height: 600px;
  background-color: aquamarine;
}

.services {
  height: 600px;
  background-color: azure;
}

.blog {
  height: 600px;
  background-color: aqua;
}

.contact {
  height: 600px;
  background-color: antiquewhite;
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-position {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}